<html lang="en" class="full-height">
<body>
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#home">
          <!--<img alt="" src="./assets/images/metrelus_logo_white.svg" />-->
          <strong>Metrelus, Inc.</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent-7" class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

          <!--<links>-->
          <ul class="navbar-nav smooth-scroll" style="margin-left: auto">
            <li class="nav-item"  (click)="toggleNavbar()">
              <a class="nav-link" data-toggle="active" href="#product">Product</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="toggleNavbar()">
              <a class="nav-link" href="#technology">Technology</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="toggleNavbar()">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" (click)="toggleNavbar()">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div id="home" class="view" style="background-image: url('./assets/images/road_background_gs.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="box" style="padding-top:75px;">
          <!--Grid row-->
          <div class="row" style="padding-top: 50px; padding-bottom: 10px;">
            <!--Grid column-->
            <div class="col-md-12 mb-4 white-text text-center">
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>The Eyes Don't Lie</strong></h1>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                <strong>Creating technology to empower law enforcement in their prosecution of impaired driving</strong>
              </h5>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
  <!--Main Layout-->
  <main>
    <div class="container">
      <!--Grid row-->
      <div class="row py-5">
        <!--Grid column-->
        <div class="col-md-12" data-spy="scroll" data-target="#navbarSupportedContent-7" data-offset="0">
          <h3 id="product">Our Product</h3>
          <hr class="hr-dark">
          <p>With the recent legalization of recreational marijuana, law enforcement agencies have been left with a technology gap in determining THC levels for safe driving. How much, when, and the level of insobriety from THC consumption cannot be determined with any level of reliability by any technology in the field today. The current methods to detect marijuana consumption require laboratory analysis and still are unable to give an accurate level of sobriety: numerous studies have shown that a blood concentration (or any bodily fluid concentration) of THC does not correlate with sobriety. </p>
          <p>Officers in the field rely on sobriety tests. These tests are given by hand, and their effectiveness is subject to the officer’s training and experience. The subjective nature of these tests impedes the ability of both law enforcement officers and attorneys to enforce the law and reliably get a conviction. </p>
          <p>Metrelus Inc. is committed to researching and developing technology to enable law enforcement officers to keep the streets safe. Our technology aims to automate and increase the level of confidence that officers need to make an arrest and get a conviction.</p>
          <p>The VAAST Software delivers a quick analysis of the eye response and compares these to our proprietary database of known metrics. This provides a clear answer for the level of THC consumption in a subject. By recording these responses, the VAAST provides both; law enforcement officers clear answers and attorneys legally-sound evidence, to identify and prosecute users driving under the influence. </p>

          <h3 id="technology">Technology</h3>
          <hr class="hr-dark">
          <p>To reduce false results and increase the accuracy of the field sobriety tests, the VAAST device can run the same tests that Drug Recognition Experts perform on subjects in an unbiased and systematic fashion. Focusing on the effects from THC exposed by the eye’s behavior, our VAAST device can determine Horizontal Gaze Nystagmus, smooth pursuit, and rebound dilation to a light stimulus. </p>
          <p>Furthermore, these same tests can be used to detect insobriety caused by all 7 drug classifications; not just THC and alcohol. </p>
          <p>Metrelus’ software technology and algorithms have been developed to precisely follow the movement of the eye. By recreating tests on a screen, the high-speed cameras in the VAAST device are capable of locating, tracking, and analyzing the pupil's reaction speed, response, and dilation better than the human eye is capable of. </p>
          <p>After tests are completed, the software analyzes the data collected and provides an accurate description of the subject’s results compared to known baselines. This comparison provides any law enforcement officer with a technological solution to determine marijuana consumption during the time of the test. </p>

          <h3 id="about">About Us</h3>
          <hr class="hr-dark">
          <p><b>Nathan Ahrens</b> embedded, and is the Co-founder and CEO of Metrelus, Inc. He holds a B.S. in Electrical and Computer Engineering with a minor in Computer Science from Oregon State.  Nathan has 4 years experience working in R&D as a firmware engineer for a scientific and pharmaceutical diagnostic equipment company. Currently, Nathan also works as a software freelancer as a sole-proprietor LLC.</p>
          <p><b>Nicolas Henriquez</b> is the Co-Founder and President of Metrelus Inc. He graduated from OSU with a BS in Electrical and Computer Science Engineer. After graduating from College in 2015, he started working at HP Inc. He currently works as a Silicon Systems Integrations PE for new products introduction.</p>
          <p><b>Tanya Graziano</b> is the Financial Officer of Metrelus, Inc. She has been in the financial industry for over 10 years and currently works at Oregon State Credit Union as the Assistant Director of Member Relations. Tanya obtained a B.S. in Business Management from Brigham Young University.</p>
          <p><b>Hailey Palmiter</b> is a Software Engineer at Metrelus, Inc. She acuired her B.S. in Computer Science from Oregon State University. Hailey began her career as a software designer at HP Inc. for Operations Supportability Tools. Currently, she works as an R&D developer on press software and as the Scrum Master for her team.  Hailey has served 8 years in the US Army Reserves with a recent deployment to Kuwait and Afghanistan as a Construction Engineer.</p>

          <h3 id="contact">Contact</h3>
          <hr class="hr-dark">
          <p>If you would to learn more or reach out to us, please feel free to email us at <a href="mailto:info@metrelus.com"> info@metrelus.com</a>. </p>
          <p></p>

        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main Layout-->

  <footer>
    <div class="box">
      <span>
        © Copyright 2019 Metrelus, Inc.
      </span>
    </div>
  </footer>


</body>
</html>
