<html lang="en" class="full-height">
<body>
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top scrolling-navbar" style="padding-top: 5px padding-bottom: 5px;">
      <div class="container">
        <a class="navbar-brand" href="#home">
          <img alt="" src="./assets/images/metrelus_logo_white.svg" width="60" height="30">
          <strong>Metrelus, Inc.</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent-7" class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

          <!--<links>-->
          <ul class="navbar-nav smooth-scroll" style="margin-left: auto">
            <li class="nav-item" (click)="toggleNavbar()">
              <a class="nav-link" data-toggle="active" href="#problem">Problem</a>
            </li>
            <li class="nav-item" (click)="toggleNavbar()">
              <a class="nav-link" href="#solution">Solution</a>
            </li>
            <li class="nav-item" (click)="toggleNavbar()">
              <a class="nav-link" href="#technology">Technology</a>
            </li>
            <li class="nav-item" (click)="toggleNavbar()">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item" (click)="toggleNavbar()">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div id="home" class="view" style="background-image: url('./assets/images/road_background_gs.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="box" style="padding-top:75px;">
          <!--Grid row-->
          <div class="row" style="padding-top: 50px; padding-bottom: 10px;">
            <!--Grid column-->
            <div class="col-md-12 mb-4 white-text text-center">
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>The Eyes Don't Lie</strong></h1>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                <strong>Creating technology to empower law enforcement in their prosecution of impaired driving</strong>
              </h5>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
  <!--Main Layout-->
  <main>
    <div class="container">
      <!--Grid row-->
      <div class="row py-5">
        <!--Grid column-->
        <div class="col-md-12" data-spy="scroll" data-target="#navbarSupportedContent-7" data-offset="0">

          <h3 id="problem">The Problem</h3>
          <hr class="hr-dark">
          <p>With the recent legalization of recreational marijuana, law enforcement agencies have been left a gap in determining THC levels for safe driving. How much, when, and the level of insobriety from THC consumption cannot be determined with any level of reliability by any technology in the field today.</p>
          <p>The current methods to detect marijuana consumption require laboratory analysis and still are unable to give an accurate level of sobriety.</p>
          <p>Numerous studies have shown that a blood concentration (or any bodily fluid concentration) of THC does not correlate with sobriety.</p>

          <h3 id="solution">The Solution</h3>
          <hr class="hr-dark">
          <p>We believe optolyzers are the future of sobriety detection.  Instead of looking for drugs, we’re looking for impairment.</p>
          <p>The eyes provide signs of drug use that can’t be compensated for by weight, age, or drug tolerance.</p>

          <h3 id="technology">Technology</h3>
          <hr class="hr-dark">
          <p>Our optolyzer uses cutting edge optics and high speed cameras to capture the eye under duress.</p>
          <p>We provide stimulus to the eye and conduct the same tests that Drug Recognition Experts use today, plus much more.</p>
          <p>Our proprietary solving techniques use AI modeling to determine the drug classification and the subject’s relative impairment to that of a 0.08 BAC.</p>

          <h3 id="about">About Us</h3>
          <hr class="hr-dark">
          <p><b>Nathan Ahrens</b> is a Founder and CEO of Metrelus, Inc. He holds a B.S. in Electrical and Computer Engineering with a minor in Computer Science from Oregon State. Nathan has 4 years experience working in R&D as a firmware engineer for a scientific and pharmaceutical diagnostic equipment company. Currently, Nathan also works as a software freelancer as a sole-proprietor LLC.</p>
          <p><b>Hailey Palmiter</b> is a Founder and COO of Metrelus, Inc. She acuired her B.S. in Computer Science from Oregon State University. Hailey began her career as a software designer at HP Inc. for Operations Supportability Tools. Currently, she works as an R&D developer on press software and as the Scrum Master for her team.  Hailey has served 8 years in the US Army Reserves with a recent deployment to Afghanistan as a Construction Engineer.</p>
          <!--<p><b>Nate Whitlock</b> is the Data Analyst of Metrelus, Inc. He aquired his Master's in Data Analytics and a B.S. in Computer Science. </p>-->

          <h3 id="contact">Contact</h3>
          <hr class="hr-dark">
          <p>If you would to learn more or reach out to us, please feel free to email us at <a href="mailto:info@metrelus.com"> info@metrelus.com</a>. </p>
          <p></p>

        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main Layout-->

  <footer>
    <div class="box">
      <span>
        © Copyright 2020 Metrelus, Inc.
      </span>
    </div>
  </footer>


</body>
</html>

