<!--The content below is only a placeholder and can be replaced.-->

<!--
<div background-color="primary">
  <div class="box">
    <h1 justify-content="top" align-self="center" display="flex" text-align="center">
      {{ title }} Coming Soon...
    </h1>-->

  <div class="bg">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Metrelus, Inc</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="box">
      <h1 justify-content="top" align-self="center" display="flex" text-align="center">
        Coming Soon in May 2020
      </h1>
      <img width="300" alt="Metrelus Logo" src="./assets/images/metrelus_logo_white.svg" />
      <figcaption>Copyright Metrelus, Inc 2019</figcaption>
    </div>
  </div>

<!--<div class="box">
  <h1 justify-content="top" align-self="center" display="flex" text-align="center">
    {{ title }} Coming Soon...
  </h1>
  <img width="300" alt="Metrelus Logo" src="./assets/images/metrelus_logo_white.svg" />
  <figcaption>Copyright Metrelus, Inc 2019</figcaption>
</div>-->



  <!--<div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"> -->
