/* You can add global styles to this file, and also import other style files */
.dark-primary-color {
  background: #01579B;
}

.default-primary-color {
  background: #039BE5;
}

.light-primary-color {
  background: #B3E5FC;
}

.text-primary-color {
  color: #FFFFFF;
}

.accent-color {
  background: #9E9E9E;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #BDBDBD;
}

/*html, body {
  margin: 0;
  height: 100%;
  background-color: #9E9E9E;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}*/
